$v-app-loading-text: "Flat Valo";
$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #e6ebeb;
$v-focus-color:#56887d;
$v-luminance-threshold: 180;
$v-border: 2px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: false;
$v-font-color: #37404E;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;


@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

 .v-button-primary.v-button-primary {
    float: left;
    background: #fcfcfc;
    border-color: $v-focus-color;
    color: $v-focus-color;
    font-size: 22px;
  }

  .v-button-danger.v-button-danger {
    background: #f5f5f5;
    border-color: #000000;
    color: #000000;
    font-size: 22px;
  }
  .v-button-friendly.v-button-friendly {
    background: #e1efef;
    border-color: #000000;
    color: #000000;
    font-size: 22px;
  }
 .v-button-borderless.v-button-borderless {
    color: #3f000f;
    font-size: 22px;
  }

  .v-slider-base:before,
  .v-slider-base:after {
    border: none !important;
  }

  .my-img-button {
  cursor: pointer;
  }

  .v-caption-mystyle {
   font-weight: bold;
   font-size: 22px;
}


}

